@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 243 18% 100%;
    --foreground: 243 5% 10%;
    --card: 243 18% 100%;
    --card-foreground: 243 5% 15%;
    --popover: 243 18% 100%;
    --popover-foreground: 243 95% 10%;
    --primary: 243 75.4% 58.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243 18% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 205 18% 95%;
    --muted-foreground: 243 5% 40%;
    --accent: 205 18% 90%;
    --accent-foreground: 243 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 243 5% 100%;
    --border: 243 20% 82%;
    --input: 243 20% 50%;
    --ring: 243 75.4% 58.6%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 243 18% 10%;
    --foreground: 243 5% 100%;
    --card: 243 18% 10%;
    --card-foreground: 243 5% 100%;
    --popover: 243 18% 5%;
    --popover-foreground: 243 5% 100%;
    --primary: 243 75.4% 58.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243 18% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 205 18% 25%;
    --muted-foreground: 243 5% 65%;
    --accent: 205 18% 25%;
    --accent-foreground: 243 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 243 5% 100%;
    --border: 243 20% 50%;
    --input: 243 20% 50%;
    --ring: 243 75.4% 58.6%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans text-foreground;
  }
}
